:root{
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
img{
    max-width: 100%;
}
body{
    font-family: sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
    height: calc(100vh -1px);  
}
.container{

    background-color: var(--White);
    padding: 20px 20px;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
   
}
.container img{
    border-radius: 8px;
    margin-bottom: 1rem;
}
.container h1{
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 1rem;
    text-align: center;
    
}
.container p{
    color: var(--grayish-blue);
    text-align: center;
   margin-bottom: 40px;
}
.attribution{
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228,45%,44%);
}
@media (min-width:500px){
    .container{
        width: 400px;
    }
}